<center>


<% @due_today.each do |test| %>    
<div class ="box d-container">
        <table class="table">
            <tbody>
                <strong><tr>Category:
                <%= test.category.title %></tr></strong>
            </tbody>
            <tbody>
                <tr>
                    <td>Tasks:
                    <%= test.title %></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Details:
                    <%= test.details %></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Deadline:
                    <%= test.deadline %></td>
                </tr>
            </tbody>
        </table>
</div>
<% end %>
            <a>
                <%= link_to "Back", categories_path, class: "button is-link" %>
            </a>
</center>
<br><br><br>