<br><br><br>
<div class = "b-container">
    <center>
    <div class="e-container" id="middle">
        <table class="table is-bordered is-fullwidth">
            <tbody>
                <tr class ="test">
                    <td class><%=@category.title%></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td  class = "details-container"><%=@category.details%></td>
                </tr>
            </tbody>
        </table>
    </div>
   


<p><%= link_to "Edit", edit_category_path(@category), class: "button is-link" %>
<%= link_to "Destroy", category_path(@category),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "button is-link" %> 
<%= link_to "Back", categories_path, class: "button is-link" %>        </p>    
</center>
</div>
<%= render @category.tasks %>
<center>
<div class="box c-container">
<%= render 'tasks/form' %>
</div>
</center>